test_50_2 reports error for valid 's=' line

[RFC 4566 Section 5](https://tools.ietf.org/html/rfc4566#section-5) says:

```
   An SDP session description consists of a number of lines of text of
   the form:

      <type>=<value>

   where <type> MUST be exactly one case-significant character and
   <value> is structured text whose format depends on <type>.  In
   general, <value> is either a number of fields delimited by a single
   space character or a free format string, and is case-significant
   unless a specific field defines otherwise.  Whitespace MUST NOT be
   used on either side of the "=" sign.
```

It's that last sentence that `test_50_2` checks.

However, unfortunately, [RFC4566 Section 5.3](https://tools.ietf.org/html/rfc4566#section-5.3) directly contradicts that for the session name line.

```
      s=<session name>

   The "s=" field is the textual session name.  There MUST be one and
   only one "s=" field per session description.  The "s=" field MUST NOT
   be empty and SHOULD contain ISO 10646 characters (but see also the
   "a=charset" attribute).  If a session has no meaningful name, the
   value "s= " SHOULD be used (i.e., a single space as the session
   name).
```

Pretty typical for SDP really. 😞

This issue may also affect 'i=' lines, whose ABNF is identical, but probably no others.

Would it be better to weaken `test_50_2` to only check no whitespace between the type and the '=', and defer checking of whitespace after the '=' to individual line tests, or to add special cases to `test_50_2` for 's=' and 'i=' lines?
