ST2110 PTP domain should not be optional

According to ST2110-10:2017 Section 8.2:
> Devices which are referenced to IEEE1588-2008 shall use the ts-refclk:ptp form, signaling either the grandmaster clockIdentity and domain, or signaling that the PTP is traceable (if it is).

From that it would seem to me that including the PTP domain is not optional when not using the `traceable` form of the `ts-refclk` attribute for ST2110 streams. The current ST2110 PTP checking permits the domain to be an optional field as it's optional within RFC7273.