ts-refclk:local

This is flagged as incorrect. It expects ts-refclk:localmac

It's not clear to me what is flagged an incorrect, why it is an issue and what needs to be done to resolve the issue?

@MartinClifford, although 'ts-refclk:local' is defined by RFC 7273, sdpoker is checking the additional constraints specified by SMPTE ST 2110-10 Section 8.2, which allow only the 'ptp' or 'localmac' form. (I requested that the ST 2110-10 editors register the 'localmac' form in the IANA subregistry [Timestamp Reference Clock Source Parameters](https://www.iana.org/assignments/sdp-parameters/sdp-parameters.xhtml#timestamp-ref-clock-source) some time ago, but they don't seem to have done so.)